body {
    background-image: linear-gradient(to left, #f3edc9, #cfe4e9);
}
#example-list {
    background-color: tan;
}

#tacocatbackground {
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    background: black;
}

#showMoreBtn {
    display: none;
}

#outputList {
    display: none;
}